* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Nunito', sans-serif;
    background-image: url('https://wallpaperaccess.com/full/136008.jpg');
    background-size: cover;
    background-attachment: fixed;
    padding: 24px 0;
}

h1 {
    margin-left: 24px;
    color: teal;
}

a {
    text-decoration: none;
    color: black;
    transition: .25s;
}

nav {
    margin: 18px 24px 12px 24px;
}

.container {
    max-width: 1100px;
    margin: 0 auto;
    background-color: rgba(255, 255, 255, .85);
    z-index: 1001;
    padding-top: 24px;

    &.trip-page {
        text-align: center;
        padding: 12px 0;

        nav, h1, img, div {
            width: 80%;
            text-align: center;
            margin: 12px auto;
        }

        button {
            cursor: pointer;
            width: 150px;
            margin: 12px 0;
            padding: 12px 24px;
            border: 3px solid teal;
            font-weight: bold;
            color: teal;
            transition: .25s;

            &:hover {
                background-color: teal;
                color: white;
            }
        }
    }

    ul {
        list-style: none;
        display: flex;
        flex-wrap: wrap;

        &.navbar li {
            width: calc(100% / 3);
            padding: 0 12px;
            text-align: center;
            transition: .25s;

            &.active a {
                border-bottom: 5px solid teal;
                color: teal;
            }

            &:hover a {
                color: teal;
                border-bottom: 5px solid teal;
            }
        }

        &.navbar a {
            display: block;
            width: 100%;
            padding: 24px 0;
            border-bottom: 5px solid rgba(255, 255, 255, 0);
        }

        li {
            width: 50%;
            padding: 24px;

            img {
                width: 100%;
                text-align: center;
            }

            .destination {
                font-weight: bold;
            }

            .price-info {
                margin: 12px 0;

                .discount {
                    color: rgb(221, 37, 37);
                    font-weight: 600;
                }

                .cancellation {
                    color: limegreen;
                    font-weight: 600;
                }
            }
        }
    }
}