* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Nunito", sans-serif;
}

h1 {
  margin-left: 24px;
}

a {
  text-decoration: none;
  color: black;
  transition: 0.25s;
}

nav {
  margin: 18px 24px 12px 24px;
}

.container {
  max-width: 1100px;
  margin: 0 auto;
}

.container.trip-page {
  text-align: center;
}

.container.trip-page nav,
.container.trip-page h1,
.container.trip-page img,
.container.trip-page div {
  width: 80%;
  text-align: center;
  margin: 12px auto;
}

.container ul {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
}

.container ul.navbar li {
  width: calc(100% / 3);
  padding: 0;
  text-align: center;
  transition: 0.25s;
  border-bottom: 5px solid white;
}

.container ul.navbar li:hover {
  border-bottom: 5px solid teal;
}

.container ul.navbar li:hover a {
  color: teal;
}

.container ul.navbar a {
  display: block;
  width: 100%;
  padding: 24px 0;
}

.container ul li {
  width: 50%;
  padding: 24px;
}

.container ul li img {
  width: 100%;
  text-align: center;
}

.container ul li .destination {
  font-weight: bold;
}

.container ul li .price-info {
  margin: 12px 0;
}

.container ul li .price-info .discount {
  color: #dd2525;
  font-weight: 600;
}

.container ul li .price-info .cancellation {
  color: limegreen;
  font-weight: 600;
}

